<div class="post-container">
    <img src="{{ asset(['bundles/app/images/', post.image] | join) }}" alt="{{ post.image}}"/>
    <h2><a href="{{ path('app_blog_show', {slug: postcontent.slug}) }}">{{ postcontent.title }}</a></h2>
    <p><time datetime="{{ postcontent.publishedAt | date('c') }}">{{ postcontent.publishedAt | date }}</time></p>
    {% for category in postcontent.categories %}
        <p>Category: <span>{{ category.name }}</span></p>
    {% endfor %}
    <p>{{ postcontent.body | truncate(300) }} <a href="{{ path('app_blog_show', {slug: postcontent.slug}) }}">Read more...</a></p>
</div>